<div class="sidebar-profile" style="display: block;">
	<a class="toggle-navigation toggle-left" toggle-left-sidebar></a>
</div>
<div id="leftSiderMenu" style="height: 93%">
  <nav>
    <ul class="nav nav-pills nav-stacked" nav-toggle-sub>
		     <li class="nav-dropdown" ng-class="{active: $state.includes('dashWidget')}" id="dashWidget_menu" ng-show="{{isDev}}">
		       <span class="nav_bl"></span>
		       <a href="javascript:" ui-sref="dashWidget" id="dashWidget" title="대시보드" data-ui-sref-opts="{reload:true}">
		         <i class="fa fa-fw fa-desktop animated" css3animate data-animated="wobble"></i> 대시보드
		       </a>
		     </li>          	
			<li class="nav-dropdown" ng-class="{active: $state.includes('search')}" id="search_menu"><span
					class="nav_bl"></span>
				<a href="javascript:;" ui-sref="search.search" title="통합 검색" data-ui-sref-opts="{reload:true}">
					<i class="fa fa-fw fa-search animated" css3animate data-animated="wobble"></i> 통합 검색
				</a>
				<ul class="nav-sub">
					<li ui-sref-active="active" id="search">
						<a href="javascript:;" ui-sref="search.search" title="통합 검색" data-ui-sref-opts="{reload:true}">
							<i class="wd15 fa fa-fw fa-search animated" css3animate data-animated="wobble"></i>
							통합 검색</a>
					</li>
					<li ui-sref-active="active" id="editor">
						<a href="javascript:;" ui-sref="search.editor" title="쿼리 검색"
							data-ui-sref-opts="{reload:true}">
							<i class="wd15 fab fa-fw fa-searchengin animated" css3animate data-animated="wobble"></i>
							쿼리 검색</a>
					</li>
				</ul>
			</li>
			<li class="nav-dropdown" ng-class="{active: $state.includes('board')}" id="logCollection_menu"
				id="logCollectionMenu"><span class="nav_bl"></span>
				<a href="" ui-sref="board.hub" title="통합 게시판">
					<i class="fas fa-database animated" css3animate data-animated="wobble"
						style="margin-left: 6px"></i>&nbsp;통합 게시판
				</a>
				<ul class="nav-sub" ng-class="{in: $state.includes('board')}">
					<li ui-sref-active="active" id="board">
						<a href="javascript:;" ui-sref="board.hub" title="통합 게시판"
							data-ui-sref-opts="{reload:true}">
							<i class="wd15 fas fa-route animated" css3animate data-animated="wobble"></i>
							통합 게시판</a>
					</li>
				</ul>
			</li>

			<li class="nav-dropdown" ng-class="{active: $state.includes('sir')}" id="sir_menu"><span
					class="nav_bl"></span>
				<!-- 현재 관리 페이지를 만들기때문에 관리페이지를 메인으로둠.. 추후에 모니터링을 메인으로 둘생각 -->
				<a href="javascript:;" ui-sref="sir.sirManage" title="Sir 관리"
					data-ui-sref-opts="{reload:true}">
					<i class="fa fa-fw fas fa-object-group animated" css3animate data-animated="wobble"></i> Sir
				</a>
				<ul class="nav-sub" ng-class="{in: $state.includes('sir')}">
					<li ui-sref-active="active" id="sirMonitoring">
						<a href="javascript:;" ui-sref="sir.sirMonitoring" title="Sir 모니터링"
							data-ui-sref-opts="{reload:true}">
							<i class="wd15 fa fa-fw fa-desktop animated" css3animate data-animated="wobble"></i>
							Sir 모니터링</a>
					</li>
					<li ui-sref-active="active" id="sirManage">
						<a href="javascript:;" ui-sref="sir.sirManage" title="Sir 관리"
							data-ui-sref-opts="{reload:true}">
							<i class="wd15 fa fa-fw fa-calendar-check animated" css3animate data-animated="wobble"></i>
							Sir 관리</a>
					</li>

				</ul>
			</li>

			<li class="nav-dropdown" ng-class="{active: $state.includes('user')}" id="user_menu"><span
					class="nav_bl"></span>
				<a href="" ui-sref="user.user" title="사용자 관리">
					<i class="fa fa-fw fas fa-users animated" css3animate data-animated="wobble"></i> 사용자 관리
				</a>
				<ul class="nav-sub" ng-class="{in: $state.includes('user')}">
					<li ui-sref-active="active" id="user">
						<a href="javascript:;" ui-sref="user.user" title="사용자 관리" data-ui-sref-opts="{reload:true}">
							<i class="wd15 fas fa-user-cog animated" css3animate data-animated="wobble"></i>
							사용자 관리</a>
					</li>
					<li ui-sref-active="active" id="userAuth">
						<a href="javascript:;" ui-sref="user.userAuth" title="사용자 권한 설정"
							data-ui-sref-opts="{reload:true}">
							<i class="wd15 fas fa-users-cog animated" css3animate data-animated="wobble"></i>
							사용자 권한 설정</a>
					</li>
				</ul>
			</li>
			<li class="nav-dropdown" ng-class="{active: $state.includes('stats')}" id="stats_menu"><span
					class="nav_bl"></span>
				<a href="javascript:;" ui-sref="stats.dash" title="통계 관리" data-ui-sref-opts="{reload:true}">
					<i class="fa fa-fw fa-chart-line animated" css3animate data-animated="wobble"></i> 통계 관리
				</a>
				<ul class="nav-sub" ng-class="{in: $state.includes('stats')}">
					<li ui-sref-active="active" id="dash">
						<a href="javascript:;" ui-sref="stats.dash" title="통계 대시보드" data-ui-sref-opts="{reload:true}">
							<i class="wd15 fa fa-fw fa-desktop animated" css3animate data-animated="wobble"></i>
							통계 대시보드</a>
					</li>
				</ul>
			</li>
			<li class="nav-dropdown" ng-class="{active: $state.includes('auditHistory')}" id="auditHistory_menu"><span
					class="nav_bl"></span>
				<a href="javascript:" ui-sref="auditHistory" id="auditHistory" title="감사 이력"
					data-ui-sref-opts="{reload:true}">
					<i class="fa fa-fw flaticon-alarm40 animated" css3animate data-animated="wobble"></i> 감사 이력
				</a>
			</li>
		</ul>
	</nav>
</div>