.wg {
  position: relative;
  bottom: 7px;
  right: 4px;
}

/* 셀렉트  */
.wg_toolbar select {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 10px;
  font-family: "Sandoll Gothic", sans-serif;
  color: #ddd;
  font-size: 14px;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  appearance: none;
  -webkit-appearance: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  height: 30px;
  margin: 0;
  box-sizing: border-box;
}

.wg_toolbar select:focus {
  border-color: #ddd;
  outline: none;
}

.select2-container--default .select2-selection--single {
  font-family: "Sandoll Gothic", sans-serif;
  font-size: 14px;
  color: #ddd;
}

.select2-container--default .select2-results__option {
  font-family: "Sandoll Gothic", sans-serif;
  font-size: 14px;
  color: #ddd;
}

.select2-container--default .select2-dropdown {
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.select2-container--default .select2-results__option {
  padding: 8px 12px;
  font-size: 14px;
  color: #333;
}

.select2-container--default .select2-results__option--hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.select2-container--default .select2-results__option--selected {
  background-color: #e2e2e2;
}

.wg_toolbar input[type="text"]:focus {
  outline: none;
}

.date {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
}

.date label {
  display: flex;
  align-items: center;
  margin: 10px;
  font-weight: 100;
}

.wg_toolbar .start_date_select,
.wg_toolbar .end_date_select {
  position: relative;
  margin: 0;
}
.date input[type="text"] {
  border: 1px solid #9e9e9e;
  border-radius: 3px;
  padding: 5px 10px 5px 70px;
  font-family: "Sandoll Gothic", sans-serif;
  font-size: 10px;
  background-color: #fff;
  height: 30px;
  width: 120px;
  margin: 0;
}

.wg_toolbar .start_date_select input,
.wg_toolbar .end_date_select input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px 5px 35px;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  height: 30px;
  width: 120px;
  margin: 0;
}

/* 캘린더 아이콘  */
.wg_toolbar .calendar-back {
  position: absolute;
  left: 8px;
  color: #333;
  opacity: 0.6;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.wg_toolbar label {
  font-family: "Sandoll Gothic", sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  color: #ddd;
}

/* 퀵 메뉴 스타일 */
.quick-menu {
  position: fixed;
  right: -110px; /* 퀵메뉴 숨김 상태에서의 위치 조정 */
  top: 50%;
  transform: translateY(-50%);
  width: 110px; /* 퀵메뉴 너비 */
  height: 150px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s;
  z-index: 9;
}

.quick-menu.show {
  right: 0;
  border-radius: 10% 0 0 10%;
}

.quick-menu-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quick-menu-toggle {
  position: absolute;
  top: 50%;
  left: -25px;
  width: 25px;
  height: 45px;
  background-color: #25459c;
  border-radius: 50% 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.quick-menu-toggle img {
  width: 15px;
  height: 15px;
}

.quick-menu.show .quick-menu-toggle {
  left: -25px;
}

.menu-list {
  display: flex;
  cursor: pointer;
}

.menu-list div {
  margin-left: 6px;
  margin-top: -1px;
}

/* 대시 위젯 스타일 */
#addWidget #wg_title {
  height: 29px;
  font-size: 16px;
  padding: 0;
  font-family: "Sandoll Gothic", sans-serif; /* 폰트 적용 */
  font-weight: bold;
  letter-spacing: -0.04em;
  margin: -10px 0px 7px 0px;
}

#addWidget .wg_toolbar {
  display: flex;
  align-items: center;
  padding: 0px !important;
  gap: 0;
}

#addWidget {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  border: solid 1px #dddddd;
  overflow: hidden;
  background-color: #f9f9f9;
  color: #3f3f3f;
  border-radius: 10px;
  padding: 20px;
}

.widget_context_ul img {
  width: 18px;
  height: 18px;
}

.widget_context_ul li {
  display: flex;
}

.widget_context_ul div {
  margin: -2px 0px 0px 7px;
}

/* 그리드 스타일 */
.grid-stack-item-removing {
  opacity: 0.8;
  filter: blur(5px);
}

.grid-stack {
  min-height: calc(100vh - 160px);
  background: white;
/*  border-left: 1px solid #25459c;*/
/*  border-bottom: 1px solid #25459c;*/
/*  border-right: 1px solid #25459c;*/
  width: calc(100% - 10px);
}

/* 툴팁 컨테이너 */
.select-container {
  position: relative;
  display: inline-block;
  margin: 5px;
}

/* 툴팁  */
.tooltip-link {
  position: absolute;
  background-color: #a2a2a2;
  color: white;
  border-radius: 3px;
  padding: 4px 6px;
  box-sizing: border-box;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  margin-bottom: 0;
  max-width: 150px;
  width: auto;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s linear, transform 0.3s ease;
  text-align: center;
  line-height: 1.2;
  font-family: "Sandoll Gothic", sans-serif;
  font-size: 12px;
}

.select-container:hover .tooltip-link {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}

.dashwidget.table{
	margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: calc(100% - 30px);
    margin-left: 10px;	
}