/* sir node 리스트 관련*/
.timeline {
    position: relative;
    list-style: none;
    margin: 0;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.timeline-item .timeline-content {
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.timeline-item .timeline-name {
    font-weight: bold;
   	font-size:20px;
    margin: 0;
}
.timeline-item .timeline-time {
	font-size:10px;
	color: #888;
    margin-top: 5px;
}
.timeline-item .timeline-desc {
	font-size:12px;
	color: #888;
    margin-top: 5px;
}
.timeline-item .timeline-sec {
	font-size:10px;
	color: #888;
    margin-top: 5px;
    margin-left: auto;
}

.file-item.item-true{
	border-left: 5px solid #25459c;
}
.file-item.item-false{
	border-left: 5px solid #e82828;
}
/* list contents 관련. */
.node-type {
	display: inline-block;
    margin-bottom: 5px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    background-color: #666; /* 기본 배경색 */
}
/* sir 노드 리스트 contents 테두리  */
.timeline-item.elastic{
	border: 1px solid  #00B700; 
}
.timeline-item.elastic:hover {
	border: 4px solid  #00B700; 
}
.timeline-item.trino{
	border: 1px solid  #FF007F; 
}
.timeline-item.trino:hover {
	border: 4px solid  #FF007F; 
}
.timeline-item.userwork{
	border: 1px solid  #9536FF; 
}
.timeline-item.userwork:hover {
	border: 4px solid  #9536FF; 
}
.timeline-item.others{
	border: 1px solid  #666; 
}
.timeline-item.others:hover {
	border: 4px solid  #666; 
}
/* sir 노드 리스트 태그  */
.node-type.elastic {
    background-color: #00B700; /* 위협 태그의 배경색 */
}

.node-type.trino {
    background-color: #FF007F; /* ASA 태그의 배경색 */
}
.node-type.user {
    background-color: #9536FF; /* ASA 태그의 배경색 */
}
.node-type.complete {
    background-color: #5F95FF; /* ASA 태그의 배경색 */
}
.node-type.resist {
    background-color: #FF5E00; /* ASA 태그의 배경색 */
}

.ui-helper-hidden-accessible {
    display: none;
}
.ui-slider .ui-slider-handle {
	z-index: 5 !important;
}

/* 노드 하이라이트 관련 Highlight */
@keyframes stroke-flicker-es {	/* elastic */
  0% {
    stroke: #FFFFFF;
  }
  25% {
    stroke: #00B700;
  }
  50% {
    stroke: #00A500;
  }
  75% {
    stroke: #009500;
  }
  100% {
    stroke: #008400;
  }
}
.stroke-flicker-es {
  stroke-width: 4;
  animation: stroke-flicker-es 3s infinite linear;
}
@keyframes stroke-flicker-trino {	/* trino */
  0% {
    stroke: #FFFFFF;
  }
  25% {
    stroke: #FF007F;
  }
  50% {
    stroke: #E60072;
  }
  75% {
    stroke: #CC0066;
  }
  100% {
    stroke: #B30059;
  }
}
.stroke-flicker-trino {
  stroke-width: 4;
  animation: stroke-flicker-trino 3s infinite linear;
}
@keyframes stroke-flicker-userwork {	/* userwork */
  0% {
    stroke: #FFFFFF;
  }
  25% {
    stroke: #9536FF;
  }
  50% {
    stroke: #852FCC;
  }
  75% {
    stroke: #7628B3;
  }
  100% {
    stroke: #662299;
  }
}
.stroke-flicker-userwork {
  stroke-width: 4;
  animation: stroke-flicker-userwork 3s infinite linear;
}
@keyframes stroke-flicker-complete {	/* complete */
  0% {
    stroke: #FFFFFF;
  }
  25% {
    stroke: #5F95FF;
  }
  50% {
    stroke: #507FCC;
  }
  75% {
    stroke: #4466B3;
  }
  100% {
    stroke: #3A5B99;
  }
}

.stroke-flicker-complete {
  stroke-width: 4;
  animation: stroke-flicker-complete 3s infinite linear;
}
@keyframes stroke-flicker-resist {	/* resist */
  0% {
    stroke: #FFFFFF;
  }
  25% {
    stroke: #FF5E00;
  }
  50% {
    stroke: #FF5400;
  }
  75% {
    stroke: #FF4A00;
  }
  100% {
    stroke: #FF4000;
  }
}

.stroke-flicker-resist {
  stroke-width: 4;
  animation: stroke-flicker-resist 3s infinite linear;
}

/* 노드 하이라이트 관련 Fade and Dark*/
@keyframes fade-and-darken {
  0% {
    opacity: 1;
    filter: brightness(1);
  }
  100% {
    opacity: 0.5;
    filter: brightness(0);
  }
}

.fade-and-darken {
  animation: fade-and-darken 3s forwards;
}


/* 엣지 하이라이트 */
 @keyframes dashAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -100;
  }
}

.edge-highlight {
  stroke-width: 4px; 
  stroke-dasharray: 5 5;
  animation: dashAnimation 2s linear infinite;
} 

.highlight-animate {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #9536FF 50%, transparent 50%), 
                linear-gradient(90deg, #9536FF 50%, transparent 50%), 
                linear-gradient(0deg, #9536FF 50%, transparent 50%), 
                linear-gradient(0deg, #9536FF 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    border-radius: 5px;
    padding: 10px;
    animation: dash 5s linear infinite;
}

@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}
/* @keyframes dashAnimation {
  0% {
    stroke: #FFFFFF;
  }
  25% {
    stroke: #25459C;
  }
  50% {
    stroke: #223F8B;
  }
  75% {
    stroke: #1F397A;
  }
  100% {
    stroke: #1B336A;
  }
}

.edge-highlight {
  stroke-width: 3px; 기본 두께
  animation: dashAnimation 3s linear infinite;
} */

