/*
TODO 메인 css랑 합치기
*/

.sidemenu {
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	padding: 0px;
}

.sidemenu > div {
	padding: 10px 15px;
}

.sidemenu > div:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

.sidemenu > div:hover {
	background-color: #337ab7;
	color: white;
	cursor: pointer;
}

.sidemenu > div.active {
	background-color: #337ab7;
	color: white;
}