/* = slick ==========*/
.widgetDiv .slick-header.ui-state-default, .slick-headerrow.ui-state-default {
  width: 100%;
  overflow: hidden;
  border-left: 0px;
  border-color: #dddddd;
  vertical-align: bottom;
  background-color: #ffffff;
  color: #565656;
  font-weight: bold;
  border-bottom: 2px solid #dddddd;
/*   margin-left : -8px !important; */
/*   border-radius : 5px !important; */
}

.wg_eqTable {
	border : 1px solid #DDD;
	border-radius : 5px !important;
}
/* .widgetDiv .wg_eqTable{ */
/* 	border-radius : 5px */
/* } */
.widgetDiv .slick-header-columns { 
/* 	height:40px !important */
}
.widgetDiv .slick-header-columns, .slick-headerrow-columns {
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;

  padding-top: 0px;
  padding-bottom: 0px; 

/* padding : 8px; */
  line-height: 1.42857143;
/*   margin-left : -8px !important; */
}


.widgetDiv .slick-header-column.ui-state-default {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 24px;
  display : flex;
	align-items : center;
	justify-content : center;
  text-align: center;
  /*margin-left: 5px;*/
  /*padding:0 5px 0 5px;*/
/*   border-right:1px solid #ddd; */
  float: left;

}
.widgetDiv .slick-headerrow-column.ui-state-default {
  padding: 4px;
}
.widgetDiv .slick-header-column-sorted {
  font-weight: bold;
}
.widgetDiv .slick-sort-indicator::before {
  /*
  font-family: 'icomoon';
  font-style: normal;
  font-size: 14px;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #555;
  display: inline-block;
  width: 8px;
  height: 10px;
  margin-left: 5px;
  */

  position: absolute;
  bottom: -2px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';

  opacity: 0.2;
  content: "\e150";
}
.widgetDiv .slick-sort-indicator-desc::before {
  opacity: 0.5;
  content: "\e156";
  /*
content: "\e044";
float: right;
height: 0px;*/
}
.widgetDiv .slick-sort-indicator-asc::before {
  opacity: 0.5;
  content: "\e155";
  /*
 content: "\e042";
 float: right;
 height: 0px;*/
}
.widgetDiv .slick-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 4px;
  right: 0px;
  top: 0;
  height: 100%;
}
.widgetDiv .slick-sortable-placeholder {
  background: silver;
}
.widgetDiv .grid-canvas {
  position: relative;
  outline: 0;
}
.widgetDiv .slick-row.ui-widget-content, .slick-row.ui-state-active {
  position: absolute;
  border: 0px;
  width: 100%;
}
.widgetDiv .slick-cell, .slick-headerrow-column {
  position: absolute;
  border: 1px solid transparent;

  border-bottom-color: #ddd;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.widgetDiv .slick-group {}
.widgetDiv .slick-group-toggle {
  display: inline-block;
}
.widgetDiv .slick-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.widgetDiv .slick-cell.flashing {
  border: 1px solid red !important;
}
.widgetDiv .slick-cell.editable {
  z-index: 11;
  overflow: visible;
  background: white;
  border-color: black;
  border-style: solid;
}
.widgetDiv .slick-cell:focus {
  outline: none;
}
.widgetDiv .slick-reorder-proxy {
  display: inline-block;
  background: blue;
  opacity: 0.15;
  filter: alpha(opacity = 15);
  cursor: move;
}
.widgetDiv .slick-reorder-guide {
  display: inline-block;
  height: 2px;
  background: blue;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}
.widgetDiv .slick-selection {
  z-index: 10;
  position: absolute;
  border: 2px dashed black;
}
/*
.slick-header-columns {
  background: url('images/slick/header-columns-bg.gif') repeat-x center bottom;
  border-bottom: 1px solid silver;
}
.slick-header-column {
  background: url('images/slick/header-columns-bg.gif') repeat-x center bottom;
  border-right: 1px solid silver;
}
.slick-header-column:hover, .slick-header-column-active {
  background: white url('images/slick/header-columns-over-bg.gif') repeat-x center bottom;
}
*/

.widgetDiv .slick-header-columns .slick-header-column {
	height : 40px
}
.widgetDiv .slick-row.ui-state-active {
  background: #F5F7D7;
}
.widgetDiv .slick-row {
  position: absolute;
  background: white;
  border: 0px;
  line-height: 23px;
}
.widgetDiv .slick-row.selected {
  z-index: 10;
  background: #DFE8F6;
}
.widgetDiv .slick-cell {
/*  padding-left: 2px;*/
  padding-left: 12px;
  padding-right: 2px;
  	display : flex;
	align-items : center;
	justify-content : center;
	height :  100%;
/* 	border-right : 1px solid #DDDDDD; */
}
.widgetDiv .slick-group {
  border-bottom: 2px solid silver;
}
.widgetDiv .slick-group-toggle {
  width: 9px;
  height: 9px;
  margin-right: 5px;
}
.widgetDiv .slick-group-toggle.expanded {
  background: url(images/collapse.gif) no-repeat center center;
}
.widgetDiv .slick-group-toggle.collapsed {
  background: url(images/expand.gif) no-repeat center center;
}
.widgetDiv .slick-group-totals {
  color: gray;
  background: white;
}
.widgetDiv .slick-cell.active {
  border-color: #EC7322;
  border-style: solid;
}
.widgetDiv .slick-sortable-placeholder {
  background: silver !important;
}
.widgetDiv .slick-row.odd {
  background: #f9f9f9;
}
.widgetDiv .slick-row.ui-state-active {
  background: #F5F7D7;
}
.widgetDiv .slick-row.loading {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}
.widgetDiv .slick-cell.invalid {
  border-color: red;
}
.widgetDiv .slick-cell.selected {
  background-color: #FFDE66;
}
.widgetDiv .slick-cell_over {
  background-color: #FFE999 !important;
}

.widgetDiv .slick-header {
	font-size: 12px;
	background : #1A74C5 !important;
	color : white !important;
}

.widgetDiv .slick-viewport {
	font-size: 12px;
	
}

/* 컬럼 헤더와 내용 열 맞춤 */
.widgetDiv .slickgrid,
.widgetDiv .slickgrid *,
.widgetDiv .slick-header-column {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
.widgetDiv .columnCenter {
/* 	display : flex; */
/* 	align-items : center; */
/* 	justify-content : center; */
/* 	height :  100%; */
/* 	border-right : 1px solid #DDDDDD; */
	
}

/* .widgetDiv div::-webkit-scrollbar-thumb{ */
/* 	background: #1A74C5; */
/* 	border-radius:5px; */
/* } */

/* 스크롤바 전체 */
.widgetDiv div::-webkit-scrollbar{
	width:10px;
	height:10px;

}
/* 스크롤바 트랙 */
.widgetDiv div::-webkit-scrollbar-trak{
	display:none;
}
.widgetDiv div::-webkit-scrollbar-trak:hover{
	display:block;
}
/* 스크롤바 자체 */
.widgetDiv div::-webkit-scrollbar-thumb{
	background-color: #4A67B3;
	border-radius:5px;
	display:none;
}
.widgetDiv div::-webkit-scrollbar-thumb:hover{
	background-color: #2047b3;
	display:block;
}
.widgetDiv div::-webkit-scrollbar-thumb:active{
	background-color: #2047b3;
}
.widgetDiv .scroll-container {
    overflow: hidden;
}

/* 마우스 호버 시 스크롤바 보이기 */
.widgetDiv .scroll-container:hover {
    overflow: auto;
}

.widgetDiv .wk_dataTable .wk_table-bor {
     border: 1px solid #dddddd;
/*   border-collapse: separate; */
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* .widgetDiv .wk_dataTable .wk_table-bor td, */
.widgetDiv .wk_dataTable .wk_table-bor th {
  border-left: 1px solid #dddddd;
}


.widgetDiv .wk_dataTable .wk_table-bor caption + thead tr:first-child th,
.widgetDiv .wk_dataTable .wk_table-bor caption + tbody tr:first-child th,
.widgetDiv .wk_dataTable .wk_table-bor caption + tbody tr:first-child td,
.widgetDiv .wk_dataTable .wk_table-bor colgroup + thead tr:first-child th,
.widgetDiv .wk_dataTable .wk_table-bor colgroup + tbody tr:first-child th,
.widgetDiv .wk_dataTable .wk_table-bor colgroup + tbody tr:first-child td,
.widgetDiv .wk_dataTable .wk_table-bor thead:first-child tr:first-child th,
.widgetDiv .wk_dataTable .wk_table-bor tbody:first-child tr:first-child th,
.widgetDiv .wk_dataTable .wk_table-bor tbody:first-child tr:first-child td {
  border-top: 0;
}

.widgetDiv .wk_dataTable .wk_table-bor thead:first-child tr:first-child th:first-child,
.widgetDiv .wk_dataTable .wk_table-bor tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.widgetDiv .wk_dataTable .wk_table-bor thead:first-child tr:first-child th:last-child,
.widgetDiv .wk_dataTable .wk_table-bor tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.widgetDiv .wk_dataTable .wk_table-bor thead:last-child tr:last-child th:first-child,
.widgetDiv .wk_dataTable .wk_table-bor tbody:last-child tr:last-child td:first-child,
.widgetDiv .wk_dataTable .wk_table-bor tfoot:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.widgetDiv .wk_dataTable .wk_table-bor thead:last-child tr:last-child th:last-child,
.widgetDiv .wk_dataTable .wk_table-bor tbody:last-child tr:last-child td:last-child,
.widgetDiv .wk_dataTable .wk_table-bor tfoot:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.widgetDiv .wk_dataTable .wk_table-bor caption + thead tr:first-child th:first-child,
.widgetDiv .wk_dataTable .wk_table-bor caption + tbody tr:first-child td:first-child,
.widgetDiv .wk_dataTable .wk_table-bor colgroup + thead tr:first-child th:first-child,
.widgetDiv .wk_dataTable .wk_table-bor colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.widgetDiv .wk_dataTable .wk_table-bor caption + thead tr:first-child th:last-child,
.widgetDiv .wk_dataTable .wk_table-bor caption + tbody tr:first-child td:last-child,
.widgetDiv .wk_dataTable .wk_table-bor colgroup + thead tr:first-child th:last-child,
.widgetDiv .wk_dataTable .wk_table-bor colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-right-topleft: 4px;
}



