<section id="main-content" class="animated fadeIn">
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">
				<i class="glyphicon glyphicon-list-alt mR5"></i> dash
			</h3>
		</div>
		<div class="panel-body">
		<!-- <button class="btn btn-primary mrgB10" ng-click="saveLayout()">저장</button> -->
	    <button ng-click="widgetMange()" class="btn btn-sm btn-primary">
           <i class="fas fa-server"></i> 위젯 관리
        </button>
		<div id="widgetGrid" class="grid-stack"></div>
		<div id="widgetModal" class="panel reveal-modal">
			<div class="panel-heading">
				<h2 class="modal_title">위젯 관리</h2>
			</div>
			<div class="" style="padding:10px"> 
				<select id="widgetType">
			    	<option value="barChart">Bar 차트</option>
			      	<option value="lineChart">Line 차트</option>
			      	<option value="pieChart">Pie 차트</option>
			      	<option value="gageChart">Gage 차트</option>
			      	<option value="radarChart">Radar 차트</option>
			      	<option value="tableChart">데이터 테이블</option>
			    </select>
			    <input id="widgetTitle" placeholder="위젯 제목" />
			</div>
			<div>
				<button type="submit" ng-click="widgetModal_close()"class="btn btn-primary floatR width90">
					<i class="fa fa-times"></i>&nbsp;닫기
				</button>
				<button type="submit" ng-click="addWidget()"class="btn btn-primary floatR width90">
					<i class="fa fa-times"></i>&nbsp;추가
				</button>
			</div>
		</div>
		</div>
	</div>
</section>
<style>
  .grid-stack {
    background: #f0f0f0;
    min-height: 600px;
  }

  .grid-stack-item-content {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    height: auto !important;
  }
</style>
