.fuelux .wizard ul li {
    cursor: default
}
.fuelux .wizard ul li.complete {
    color: #468847;
}
.wizard .steps .badge.badge-success {
    background-color: #999;
}
/*.fuelux .wizard ul li.complete .badge.badge-success {
    background-color: #468847;
}*/

.fuelux .wizard ul li.active {
    color: #3a87ad;
    background: #f1f6fc;
}
/*.fuelux .wizard ul li.active .badge.badge-success {
    background-color: #3a87ad;
}*/

.fuelux .wizard ul li.active .chevron:before {
    border-left: 14px solid #f1f6fc;
}

.fuelux .wizard ul li.active .chevron:before {
    border-right-color: #f1f6fc;
}

/****** 테이블 상단 ******/
.dataTables_filter{/* 검색창 */
    width: 100%;
    float: left;
    font-size: 12px;
}
.dt-toolbar>:last-child .dataTables_length{ /*테이블 상단 셀렉트박스 영역*/
    float: right;
    margin-bottom: -10px;
}
.dataTables_filter .input-group-addon { /*테이블 서치 돋보기 배경*/
    width: 30px;
    margin-top: 6px;
    float: right;
    /*float: left;*/
    height: 24px;
    padding: 3px 0;
    border-radius: 0;
}
div.dataTables_filter input {/*검색창*/
    width: 200px;
    margin-top: 6px;
    height: 24px;
    border: 1px solid #DDD;    
    box-shadow: none;    
    padding: 8px 12px 9px 12px;    
    padding-left: 8px;
}
div.dt-toolbar{/*테이블 상단 백그라운드*/
    background: #fafafa;
    font-size: 15px;
    overflow: hidden;
    padding: 0 10px;
    -webkit-box-shadow: inset 0 1px #fff;
    -moz-box-shadow: inset 0 1px #fff;
    -ms-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
    margin-top: 5px;
	margin-bottom:5px;
}
div.dataTables_length select{/*테이블 길이 셀렉트*/
    width:60px;
    /*font-size:15px;*/
    font-weight: 100;
    margin-top:5px;
}
div.dataTables_scrollHead{
    width: auto;
}
div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important;
}
div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0;
}
/****** 테이블 상단 ******/
/****  테이블 *****/
/*.dataTables_scrollBody {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}*/
table.dataTable thead .sorting, table.dataTable thead sorting_desc, table.dataTable thead sorting_asc{/*테이블 th 마우스 오버 효과*/
    cursor: pointer;
}
table.dataTable thead .sorting { /*테이블 th 초기 이미지*/
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC) no-repeat center right;
}
table.dataTable thead .sorting_asc{ /*테이블 th asc 이미지*/
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAAB1JREFUCNdjwAkcgPgBAwPjBwYG5h8MDOx/GAgBAKRJBBCQbHkwAAAAAElFTkSuQmCC) no-repeat center right;
}
table.dataTable thead .sorting_desc{ /*테이블 th desc 이미지*/
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAABxJREFUCNdjIATY/zAwMP9gYGD8AOQ8AGIHnEoBkNkEEEbbutQAAAAASUVORK5CYII=) no-repeat center right;
}
div.dataTables_scroll {
	border-top: 1px solid #b5baca;
    border-bottom: 1px solid #ddd;
}
div.dataTables_scrollBody table {
    border-top: 1px solid #b5baca;
	border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none;
}
div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
    border-top: none;
}
/****  테이블 *****/
/****  테이블 하단 *****/
.dt-toolbar-footer{/*DataTables 하단*/
    font-size: 15px;
    overflow: hidden;
    padding: 15px 10px;
    -webkit-box-shadow: inset 0 1px #fff;
    -moz-box-shadow: inset 0 1px #fff;
    -ms-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
    /*margin-top: -12px;*/
}
.dt-toolbar-footer>:last-child .pagination {
    float: right;
}
div.dataTables_paginate {
    text-align:center;
    margin: 0;
}
div.dataTables_paginate a{/*페이징 번호*/
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
	margin-left:2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #c2c6cf;
    border-radius: 2px;
}
div.dataTables_paginate a:hover{/*페이징 번호 마우스 오버*/
    color: #fff;
    background-color: #bbb;
    border-color: #ddd;
}
div.dataTables_paginate .current, div.dataTables_paginate .current:hover{ /*현재 페이지 번호*/
    z-index: 3;
    color: #fff;
    background-color: #2047b3;
    border-color: #2047b3;
    cursor: default;
}
div.dataTables_paginate .disabled{
    background: #F9F9F9!important;
    color: #CCC!important;
    box-shadow: none!important;
    font-weight: normal!important;
    border: 1px solid #E5E5E5!important;
	margin:0 0 0 2px;
}
div.dataTables_info { /*테이블 정보*/
    font-size: 13px;
    color: #969696;
    margin-top:5px;
}
div.dataTables_scrollFoot table {
    margin-top: 0 !important;
    border-top: none;
}
/****  테이블 하단 *****/
/*
DataTables CSS 부분 끝
*/
/*input.input-sm{font-size:14px;}*/
.s_line {
	background: #8c9cb3;
	padding-top: 1px;
	margin-bottom: 5px;
}

.calendar-back {
	border: 1px solid #ccc;
	padding: 3px 5px;
	background-color: #eee;
	height: 26px;
	float: left;
}

.calendar-back-right{
	border: 1px solid #ccc;
    padding: 3px 5px;
    background-color: #eee;
    height: 25px;
    border-left: 0;
    line-height: 1;
	float:right;
}

.search-date {
	border: 1px solid #ccc;
	border-radius: 0px;
	height: 26px;
	width: 155px;
	font-weight: normal;
	margin-left: -1px;
}

.large_check{
	width: 20px;
    height: 20px;
}
.slick-cell-checkboxsel {
	text-align: center;
	border-right-color: silver;
	border-right-style: solid;
}


.tree{
	padding: 0px;
}

.tree ul{
	display:none;
	margin-left:19px;
	padding-left:10px; 
	border-left:1px dashed #dfdfdf;
}

.tree li{
	cursor:pointer;
	vertical-align: middle;
	background:#fff;
	list-style-type: none;
}

.tree li:first-child {
	border-radius:3px 3px 0 0;
}

.tree li:last-child{
	border-radius:0 0 3px 3px;
}

.tree .active li{
	background:#efefef;
}

.tree label{
	cursor:pointer;
	height:23px;
	margin-top: 0px!important;
	margin-bottom: 5px!important;
}

.tree-expand{
	margin-left: -5px;
	cursor:pointer;
	font-size: 12px;
	padding-bottom: 0px;
	color:#000000;
	font-weight: 700;
}
.tree-folder{
	cursor:pointer;
	font-size: 12px;
	padding-bottom: 0px;
/*	color:#000000;*/
	font-weight: 700;
}

.tree input[type=checkbox]{
	margin:-2px 6px 0 0px;
}

.has > label {
	color : #000;
}

.tree .total {
	color : #e13300;
}

input[type=checkbox]{
	vertical-align: middle;
}

.textarea {
	overflow:scroll ;
	resize: none;
	overflow-x:hidden;
}

.uploadBtn{
	position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0,0,0,0);boarder:0;
}

.fileName{
	font-weight: 500;border: none;outline: none;max-width: 300px;width: auto !important; text-overflow:ellipsis;background:none;
}
.fileSize{
	font-weight: 500;border: none;outline: none;width:70px;color: #707070;font-size: 12px;background:none;
}

.noPadding{
	padding: 0px;
}

.noMargin{
	margin: 0px;
}

.readonly{
	outline: none;background: none !important;border: 0px;
}

.pointer{
	 cursor: pointer;
}

/* https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css */
table.dt-rowReorder-float{position:absolute !important;opacity:0.8;table-layout:fixed;outline:2px solid #888;outline-offset:-2px;z-index:2001}tr.dt-rowReorder-moving{outline:2px solid #4a67b3;outline-offset:-2px}body.dt-rowReorder-noOverflow{overflow-x:hidden}table.dataTable td.reorder{text-align:center;cursor:move}
tr.dt-rowReorder-moving td {
	background-color: #d3daed;
}

/* = contextMenu ========== S*/
.contextMenu {
	position: absolute;
	/*width: 170px;*/
	z-index: 99999;
	border: solid 1px #001f53;
	background: #f0f2f6;
	padding: 0px;
	margin: 0px;
	display: none;
	border-radius:5px;
	font-size:12px;
}
.contextMenu li {
	list-style: none;
	padding:0 0 0 5px;
	margin: 0px;
}
.contextMenu li:hover {
	 color: #001f53;
	background-color:#fff;
}
.contextMenu li.menu {
	cursor: default;
	background-color:#001f53;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding:5px 15px 5px 5px;
}
.contextMenu li.menu:hover {
	background-color: transparent;
}
.contextMenu li.separator {
	border-top: solid 1px #CCC;
}
.contextMenu a {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	/*height: 20px;*/
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	/*padding: 1px 5px;*/
	padding: 5px 5px;
	/*padding-left: 28px;*/
}
/*
.contextMenu li.hover a {
  color: #FFF;
  background-color: #3399FF;
}
*/
.contextMenu li.disabled:hover {
	background-color: transparent;
}
.contextMenu li.disabled a {
	color: #AAA;
	cursor: default;
}
.contextMenu li.hover.disabled a {
	background-color: transparent;
}
/* = contextMenu ========== E*/

/* = reveal =============== S*/
.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	/*background: rgb(214, 212, 212, 0.57);*/
	z-index: 9;
	display: none;
	top: 0;
	left: 0;
}
.reveal-modal {
	display:none;
	visibility: hidden;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	width: 420px;	
	position: absolute;
	z-index: 10001;	
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
	border-radius: 5px;
	border: 1px solid #454a54;

}
.reveal-modal.pop { padding:1px; top: 50px; }
.reveal-modal.small { width: 200px; margin-left: -140px;}
.reveal-modal.medium { width: 400px; margin-left: -240px;}
.reveal-modal.large { width: 600px; margin-left: -340px;}
.reveal-modal.xlarge { width: 800px; margin-left: -440px;}
.reveal-modal > .close-reveal-modal {
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 8px;
	right: 11px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
}
.rvl_pop_m-bg {position: absolute; height: 100%; width: 100%; background: #000; background: rgba(0,0,0,.1); z-index: 10001; display: none; top: 0; left: 0;}
.rvl_pop_m {visibility: hidden; top: 0px !important;background: #eee no-repeat; position: absolute; z-index: 10001; padding: 5px 20px 2px;}
.rvl_pop_m2 {visibility: hidden; top: 100px;left: 50%;margin-left: -300px;width: 420px;background: #eee no-repeat;position: absolute;z-index: 10001;padding: 30px 40px 34px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);-box-shadow: 0 0 10px rgba(0,0,0,.4);}
.rvl_pop_m2 > .close-reveal-modal {
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 8px;
	right: 11px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
}
/* = reveal =============== E*/

/* = checkbox3 ============ S*/
.checkbox3 {
  position: relative; }
.checkbox3 input {
	position: absolute;
	left: -9999px; }
.checkbox3 label {
	display: block;
	position: relative;
	padding: 11px 0 11px 30px;
	white-space: nowrap;
	cursor: pointer;
	font-size: 12px;
	margin-bottom: 0;
	margin-top: -4px; }
.checkbox3 label::before {
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 0;
	width: 21px;
	height: 21px;
	border: 1px solid #CCC;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;
	overflow: hidden;
	vertical-align: middle;
	text-align: center; }
.checkbox3 label::after {
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 0;
	width: 19px;
	height: 19px;
	border: 12px solid #FFF;
	margin: 1px;
	-webkit-transition: all 0.05s;
	-moz-transition: all 0.05s;
	transition: all 0.05s;
	opacity: 0; }
.checkbox3 input:checked + label::before {
	border-width: 1px;
	border-style: solid;
	background-color: #444;
	border-color: #444;
	color: #fff; }
.checkbox3 input:checked + label::after {
	border: 3px solid #FFF;
	opacity: 1; }

.checkbox3.checkbox-sm label {
  padding: 5px 0 14px 30px; }

.checkbox3.checkbox-sm label::before {
  width: 14px;
  height: 14px;
  line-height: 14px; }

.checkbox3.checkbox-sm label::after {
  width: 12px;
  height: 12px; }

.checkbox3.checkbox-lg label {
  padding: 15px 0 15px 40px; }

.checkbox3.checkbox-lg label::before {
  width: 28px;
  height: 27px;
  line-height: 24px; }

.checkbox3.checkbox-lg label::after {
  width: 26px;
  height: 25px; }

.checkbox3.checkbox-inline, .radio3.radio-inline {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0; }
.checkbox3.checkbox-inline input[type=checkbox], .checkbox3.checkbox-inline input[type=radio], .radio3.radio-inline input[type=checkbox], .radio3.radio-inline input[type=radio] {
	position: absolute; }

.checkbox3.checkbox-inline, .radio3.radio-inline {
  /*margin-right: 20px;*/ 
}

.checkbox3.checkbox-check label::after, .checkbox3.checkbox-check input:checked + label::after {
  border: 0; }

.checkbox3.checkbox-check label::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  color: #FFF;
  width: 19px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  border-width: 0; }

.checkbox3.checkbox-check.checkbox-sm label::after {
  font-size: 9px;
  line-height: 12px;
  width: 12px; }

.checkbox3.checkbox-check.checkbox-lg label::after {
  font-size: 16px;
  line-height: 26px;
  width: 26px; }

.checkbox3.checkbox-check.checkbox-light label::after {
  color: #444; }

.checkbox3.checkbox-circle label::before, .checkbox3.checkbox-circle label::after {
  -moz-border-radius: 20px;
	border-radius: 20px; }

.checkbox3.checkbox-round label::before, .checkbox3.checkbox-round label::after {
  -moz-border-radius: 4px;
	border-radius: 4px; }

.checkbox3.checkbox-s1 label::before, .checkbox3.checkbox-s1 label::after {
  -moz-border-radius: 4px;
	border-radius: 4px; }

.checkbox3.checkbox-light label::before {
  background-color: transparent; }

.checkbox3.checkbox-light input:checked + label::before {
  background-color: transparent;
  border-color: #444; }

.checkbox3.checkbox-info input:checked + label::before {
  background-color: #2caef5;
  border-color: #2caef5; }

.checkbox3.checkbox-primary input:checked + label::before {
  background-color: #4183d7;
  border-color: #4183d7; }

.checkbox3.checkbox-success input:checked + label::before {
  background-color: #36b846;
  border-color: #36b846; }

.checkbox3.checkbox-warning input:checked + label::before {
  background-color: #ff9c00;
  border-color: #ff9c00; }

.checkbox3.checkbox-danger input:checked + label::before {
  background-color: #e50011;
  border-color: #e50011; }

.checkbox3.checkbox-primary.checkbox-light input:checked + label::before {
  background-color: transparent;
  border-color: #4183d7; }

.checkbox3.checkbox-primary.checkbox-light input:checked + label::after {
  color: #4183d7; }

.checkbox3.checkbox-info.checkbox-light input:checked + label::before {
  background-color: transparent;
  border-color: #2caef5; }

.checkbox3.checkbox-info.checkbox-light input:checked + label::after {
  color: #2caef5; }

.checkbox3.checkbox-success.checkbox-light input:checked + label::before {
  background-color: transparent;
  border-color: #36b846; }

.checkbox3.checkbox-success.checkbox-light input:checked + label::after {
  color: #36b846; }

.checkbox3.checkbox-warning.checkbox-light input:checked + label::before {
  background-color: transparent;
  border-color: #ff9c00; }

.checkbox3.checkbox-warning.checkbox-light input:checked + label::after {
  color: #ff9c00; }

.checkbox3.checkbox-danger.checkbox-light input:checked + label::before {
  background-color: transparent;
  border-color: #e50011; }

.checkbox3.checkbox-danger.checkbox-light input:checked + label::after {
  color: #e50011; }

.radio3 {
  position: relative; }
.radio3 input {
	position: absolute;
	left: -9999px; }
.radio3 label {
	display: block;
	position: relative;
	padding: 11px 0 11px 30px;
	white-space: nowrap;
	cursor: pointer;
	font-size: 12px;
	margin-bottom: 0;
	margin-top: -6px; }
.radio3 label::before {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	bottom: 10px;
	left: 4px;
	width: 21px;
	height: 21px;
	border: 1px solid #CCC;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;
	overflow: hidden;
	vertical-align: middle;
	text-align: center; }
td .radio3 label::before {top: 12px;}
.radio3 label::after {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	bottom: 10px;
	left: 4px;
	width: 19px;
	height: 19px;
	border: 12px solid #FFF;
	margin: 1px;
	-webkit-transition: all 0.05s;
	-moz-transition: all 0.05s;
	transition: all 0.05s;
	opacity: 0; }
td .radio3 label::after {top: 12px;}
.radio3 input:checked + label::before {
	font-family: FontAwesome;
	border-width: 1px;
	border-style: solid;
	background-color: #444;
	border-color: #444;
	color: #fff; }
.radio3 input:checked + label::after {
	border: 3px solid #FFF;
	opacity: 1; }
.radio3 label::before, .radio3 label::after {
	-moz-border-radius: 20px;
	border-radius: 20px; }

.radio3.radio-check label::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  color: #FFF;
  width: 19px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  border-width: 0; }

.radio3.radio-check input:checked + label::after {
  border-width: 0; }

.radio3.radio-check.radio-light label::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  color: #FFF;
  width: 19px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  border-width: 0; }

.radio3.radio-check.radio-light input:checked + label::before {
  background-color: transparent; }

.radio3.radio-check.radio-light input:checked + label::after {
  border-width: 0;
  color: #444; }

.radio3.radio-sm label {
  padding: 10px 0 8px 22px; }

.radio3.radio-sm label::before {
  width: 14px;
  height: 14px;
  line-height: 14px; }

.radio3.radio-sm label::after {
  width: 12px;
  height: 12px; }

.radio3.radio-lg label {
  padding: 15px 0 15px 40px; }

.radio3.radio-lg label::before {
  width: 28px;
  height: 27px;
  line-height: 24px; }

.radio3.radio-lg label::after {
  width: 26px;
  height: 25px; }

.radio3.radio-check.radio-sm label::after {
  font-size: 9px;
  line-height: 12px;
  width: 12px; }

.radio3.radio-check.radio-lg label::after {
  font-size: 16px;
  line-height: 26px;
  width: 26px; }

.radio3.radio-primary input:checked + label::before {
  background-color: #4183d7;
  border-color: #4183d7; }

.radio3.radio-info input:checked + label::before {
  background-color: #2caef5;
  border-color: #2caef5; }

.radio3.radio-success input:checked + label::before {
  background-color: #36b846;
  border-color: #36b846; }

.radio3.radio-warning input:checked + label::before {
  background-color: #ff9c00;
  border-color: #ff9c00; }

.radio3.radio-danger input:checked + label::before {
  background-color: #e50011;
  border-color: #e50011; }

.radio3.radio-primary.radio-light input:checked + label::before {
  background-color: transparent; }

.radio3.radio-primary.radio-light input:checked + label::after {
  color: #4183d7; }

.radio3.radio-info.radio-light input:checked + label::before {
  background-color: transparent; }

.radio3.radio-info.radio-light input:checked + label::after {
  color: #2caef5; }

.radio3.radio-success.radio-light input:checked + label::before {
  background-color: transparent; }

.radio3.radio-success.radio-light input:checked + label::after {
  color: #36b846; }

.radio3.radio-warning.radio-light input:checked + label::before {
  background-color: transparent; }

.radio3.radio-warning.radio-light input:checked + label::after {
  color: #ff9c00; }

.radio3.radio-danger.radio-light input:checked + label::before {
  background-color: transparent; }

.radio3.radio-danger.radio-light input:checked + label::after {
  color: #e50011; }

.checkbox3 label::before {
	top: 4px;
	left: 12px;
}
.checkbox3 label::after {
	top: 5px;
	left: 12px;
}
/* = checkbox3 ============ E*/