<section id="main-content" class="animated fadeIn">
	<div class="panel panel-default">
		<div class="panel-heading" style="	margin-bottom: 5px">
			<h3 class="panel-title">
				<i class="fab fas fa-bezier-curve mR10"></i>AIR 관리
			</h3>
		</div>
		<div class="airTool">
			<div class="floatR">	
				<button ng-click="airDataDetailOpen()" class="btn btn-sm btn-primary mL5 width40" data-toggle="tooltip" title="추가" >
					<i class="fa fa-plus" aria-hidden="true"></i>
				</button>			
			</div>		
		</div>
		<div class="panel-body" style="display: flex; padding: 5px 0px 15px 0px !important">
			<div class="b1-ddd">		
				<div class="base_box bb1-ddd" style="background-color:#f9f9f9;">
					<div></div>
				</div>
				<div class="file-tree p14" id="" >
				    <div id="fileTree"></div>
				</div>
			</div>	
 <!-- swich -->	
			<button type="button" ng-click="switch()" class="btn btn-sm btn-primary floatL width40 swich_box " style="z-index:5;">
				<img id="switchImg" src="../icon/main/click01.png" alt="Icon" style="width: 24px; height: 24px;">
			</button>
<!-- 그래프 div -->
			<div class="mainAirDiv" >
				<div id="toolbar" style="display: flex;">			
					<div class="tool" id="airIsUse" data-toggle="tooltip" title="사용"></div>
					<div style="margin-top: 2px">
						<span id="airDataTile" ng-click="openDetail()"></span>					
					</div>
				</div>
				<div id="dataDetail" style="width:1518px" >
					<div class="p14" >
						<table class="table" style="border:1px solid #e1e1e1;">
							<colgroup>
									<col width="30%">
									<col width="10%">
									<col width="15%">
									<col width="30%">
									<col width="10%">
									<col width="15%">
							</colgroup>
							<tbody>
								<tr>
									<th colspan="1">사용여부</th>
									<td colspan="5">
										<div class="custom-radio-group floatL">
											<div class="custom-radio">
												<input type="radio" name="isUse" id="isUseYes" value="true" checked><label
													for="isUseYes" class="">Yes</label>
											</div>
										</div>
										<div class="custom-radio-group floatL pL20">
											<div class="custom-radio">
												<input type="radio" name="isUse" id="isUseNo" value="false" ><label
													for="isUseNo" class="">No</label>
											</div>
										</div>
									</td>
								</tr>
								<tr ng-show="state == 'ins'">
									<th colspan="1">AIR 명</th>
									<td colspan="5"><input id="x6_name" style="width:100%"></input></td>								
								</tr>
								<tr ng-show="state == 'ins'">
									<th colspan="1">타입</th>
									<td colspan="5">
										<select class="form-control" id="x6_type" ng-model="x6_type">
										<option value="airData" >대기질</option>
										<option value="rainData">강수</option>
										<option value="temperData">기온</option>
										<option value="etc" >etc</option>
										</select>			
									</td>				
								</tr>
								<tr ng-show="state != 'ins'">
									<th colspan="1">생성일</th>
									<td colspan="2"><span id="x6_mk_dt" ></span></td>		
									<th colspan="1">수정일</th>
									<td colspan="2"><span id="x6_upd_dt" ></span></td>
								</tr>
								<tr>
									<th colspan="1">설명</th>
									<td colspan="5">
										<textarea class="form-control" id="x6_desc" name="editor" style="resize: none ; height: 150px;"></textarea>
									</td>
								</tr>	
							</tbody>
						</table> 
						<div class="panel-footer textCenter" style="background-color: #fff; border-top :0px !important">
							<button type="button" ng-click="savePopAdd()" class="btn btn-primary width90 " >
								<i class="fa fa-check pR10"></i>저장
							</button> 
							<button ng-show="state != 'ins'" type="button" ng-click="deletePopAdd()" class="btn btn-primary width90 " >
								<i class="fa fa-trash pR10"></i>삭제
							</button>
							<button type="button" ng-click="dataDetailClose()" class="btn btn-primary width90 " >
								<i class="fa fa-times pR10"></i>닫기
							</button>
						</div>
					</div>
				</div>		
				<div id="container" style=""></div>
			</div>

<!-- node 옵션 div -->
			<div id="optionDiv" class="base b1-ddd" style="display: none;">
				<div id="nodeOptionDiv" >
					<div class="base_box">
						<div class="op_box floatL" >⛏️옵션 설정</div>
						<div class="custom-checkbox floatR " style="margin: 7px 10px 0px 0px">
							<input id="extraOption" type="checkbox"> 
							<div for="extraOption" style="margin-bottom: 5px; color: white">
								고급 옵션 
							</div>
						</div>
					</div>
					<div class="p14">
						<table class="air_table GF">
							<colgroup>
								<col width="15%">
								<col width="85%">
							</colgroup>
							<tbody>
								<tr>
									<th>타입</th>
									<td>
										<select class="form-control" id="air_type" ng-model="air_type">
												<option value="air" >air</option> 
												<option value="rain">rain</option>
												<option value="etc" >etc</option>
										</select>
	 								</td>
								</tr>
								<tr>
									<th>제목</th>
									<td><input type="input" id="label" ></td>
								</tr>
								<tr>
									<th>내부 색</th>
									<td><input type="color" id="nodeColor"></td>
								</tr>
								<tr>
									<th>외곽 너비</th>
									<td><input type="input" id="strokeWidth"></td>
								</tr>
								<tr>
									<th>외곽 색</th>
									<td><input type="color" id="strokeColor"></td>
								</tr>
								<tr>
									<th>글 크기</th>
									<td><input type="input" id="font"></td>
								</tr>
								<tr>
									<th>글 색</th>
									<td><input type="color" id="fontColor"></td>
								</tr>
<!-- 								<tr>
									<th>폰트 종류</th>
									<td>
										<select class="form-control" id="fontFamily"
												ng-model="fontFamily">
													<option value="Arial, helvetica, sans-serif" style="font-family: Arial, helvetica, sans-serif;">심플(Simple)</option>
													<option value="Georgia, serif" style="font-family: Georgia, serif;">전통적(Traditional)</option>
													<option value="Times New Roman, serif" style="font-family:Times New Roman, serif;">고전적(Classic)</option>
													<option value="Verdana, Geneva, sans-serif" style="font-family: Verdana, Geneva, sans-serif;">명확(Clear)</option>
													<option value="Courier New, monospace" style="font-family: Courier New, monospace;">고정폭(Monospaced)</option>
													<option value="Roboto, Arial, sans-serif" style="font-family: Roboto, Arial, sans-serif;">현대적(Modern)</option>
													<option value="Open Sans, sans-serif" style="font-family: Open Sans, sans-serif;">다목적(Versatile)</option>
											</select>
	 								</td>
								</tr> -->
								<tr id="nodeMemo">
									<th>메모</th>
									<td><textarea class="form-control" id="node_content" name="editor" style="resize: none"></textarea></td>
								</tr>
								<tr id="data_opacity" style="display: none;">
									<th>투명도</th>
									<td>
										<input type="range" min="0" max="1" step="0.05" id="opacity" 
											ng-model="opacityValue" ng-change="changeOpacity()"> 
										<span id="opacityValue" style="z-index: -1000;"></span>
									</td>
								</tr>
								<tr id="data_blur" style="display: none;">
									<th>흐림도</th>
									<td>
										<input type="range" min="0" max="20" step="1" id="blur"
											ng-model="blurValue" ng-change="changeBlur()"> 
										<span id="blurValue" style="z-index: -1000;"></span>
									</td>
								</tr>
								<tr id="data_dx" style="display: none;">
									<th>x축 그림자</th>
									<td>
										<input type="range" min="0" max="20" step="1" id="dx"
											ng-model="dxValue" ng-change="changeDx()"> 
										<span id="dxValue" style="z-index: -1000;"></span>
									</td>
								</tr>
								<tr id="data_dy" style="display: none;">
									<th>y축 그림자</th>
									<td>
										<input type="range" min="0" max="20" step="1" id="dy"
										ng-model="dyValue" ng-change="changeDy()"> 
										<span id="dyValue" style="z-index: -1000;"></span>
									</td>
								</tr>
								<tr id="data_index" style="display: none;">
									<th>z-index</th>
									<td>
										<input type="input" id="zIndex">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer col-sm-12 textCenter"style="background-color: #fff;">
					<button type="submit" ng-click="deleteNode()" class="btn btn-primary width75 " id="del_btn">
						<i class="fa fa-trash" />삭제
					</button>
					<button type="submit" ng-click="saveOption()" class="btn btn-primary width75 " >
						<i class="fa fa-check" />저장
					</button>
					<button type="button" ng-click="closeOption()" class="btn btn-primary width75 " >
						<i class="fa fa-times" />닫기
					</button>
				</div>
			</div>

<!-- edge 옵션 -->
			<div id="edgeDiv" style="display: none;" class="base ">
				<div class="base_box">
					<div class="op_box floatL" >⛏️설정</div>
				</div>
				<div class="p14" style="padding: 10px !important">
					<table class="table_bor GF">
						<colgroup>
							<col width="15%">
							<col width="85%">
						</colgroup>
						<tbody>
							<tr>
								<th>방향 설정</th> 
								<td>
									<select class="form-control" id="flowLine" ng-model="flowLine">
										<option value="NONE">NONE</option>
										<option value="Y">Y</option>
										<option value="N">N</option>
									</select>
 								</td>
							</tr>
							<tr>
								<th>너비</th>
								<td><input type="input" id="strokeWidth_edge"></td>
							</tr>
							<tr>
								<th>끝 표시 크기</th>
								<td><input type="input" id="targetWidth_edge"></td>
							</tr>
							<tr>
								<th>끝 표시 종류</th>
								<td>
									<select class="form-control" id="markerFamily"
											ng-model="markerFamily">
												<option value="classic">기본(classic)</option>
												<option value="diamond">다이아(diamond)</option>
												<option value="cross">크로스(cross)</option>
												<option value="circle">원형(circle)</option>
									</select>
 								</td>
							</tr>
						</tbody> 
					</table>
				</div>
				<div class="panel-footer col-sm-12 textCenter "
					style="background-color: #fff;">
					<button type="submit" ng-click="deleteEdge()" class="btn btn-primary width90 " id="del_btn">
						<i class="fa fa-trash" />삭제
					</button>
					<button type="submit" ng-click="saveEdgeOption()" class="btn btn-primary width90 " >
						<i class="fa fa-check" />저장
					</button>
					<button type="button" ng-click="closeEdgeOption()" class="btn btn-primary width90 " >
						<i class="fa fa-times" />닫기
					</button>
				</div>
			</div>



	
		</div>
	</div>
</section>
<style>
#airDataTile{
	font-weight: 800; 
	cursor:pointer; 
	border: 0px; 
	background-color: #f9f9f9; 
	display: inline-block;
}
#airIsUse{
	cursor: unset;
	width: 22px; 
	height: 23px;
	background-color: #5D5D5D; 
	position: unset; 
	padding-top: 6px;
	margin: 5px 0px 0px 5px;
}
.airTool{
	height:40px; 
	padding-top: 5px !important; 

}
.op_box{
	padding:8px 0 5px 5px; 
	font-size:13px; 
	color: white;
}
.base{
	border-right: 1px solid #d3daed !important;
    border-bottom: 1px solid #d3daed !important;
	border-radius:3px;
	}
.base_box{
	background-color:#337ab7;
	height:35px;
}
.tool{
	position:absolute;
	padding-left:7px;
	top:110px;
	margin-left:24px;
	cursor:pointer;
	width:20px;
	height:20px; 
	background-color:#b8b9bf;
	border-radius:100px;
	font-size:14px;
	color:#fff;}
.tool:hover{
	background-color:#566ca8;
	border-radius:100px;
	font-size:14px;
	color:#fff;
}

/* ----------------------------------- */
#searchBox *{
	height: 100%
}

.file-tree {
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    font-size: 12px;
    margin: 5px;
}

.listSpan {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    display: block; /* Block level element to make it span the full width */
    margin-bottom: 5px; /* Add some space below the caret */
    font-weight: bold; /* Make the text bold */
}

.listSpan::before {
    content: "";
    display: inline-block;
    width: 16px;  /* 이미지의 너비 */
    height: 16px; /* 이미지의 높이 */
    background-image: url('../icon/folder-close.png'); /* 이미지를 삽입 */
    background-size: contain; /* 이미지 크기를 컨테이너에 맞춤 */
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-bottom: 2px;
    vertical-align: middle; /* 텍스트와 이미지가 수직 정렬되도록 설정 */
    transition: background-image 0.5s ease;
}

.listSpan-down::before {
    background-image: url('../icon/folder-open.png'); /* 이미지를 삽입 */
}

.nested {
    display: none;
    padding-left: 20px; /* Indent the nested list */
}

.active {
    display: block;
    margin-left: 5px;
}

.file-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin: 2px 0;
    padding-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.file-item .icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

#searchInput {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}


 @keyframes border-gradient-animation {
  0% {
    stroke-dashoffset: 380;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
   stroke-dashoffset: -380;
  }
} 

.animate-border {
  stroke-width: 8px;
  stroke-dasharray: 380;
  animation: border-gradient-animation 3s linear infinite;


}

/* ----------------------------------- */




.GF th{
	color: #454a51;
}

#opacityValue, #blurValue, #dxValue, #dyValue {
	width: 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #03a9f4;
	color: #fff;
	font-size: 12px;
	display: block;
	position: absolute;
	left: 84%;
	transform: translate(-50%, 0);
	border-radius: 6px;
}
/* 이제 필요할듯
 	.x6-widget-stencil-title {
	visibility: hidden;
} */
.x6-widget-stencil-search input[type="search"]::placeholder {
	color: #444;
}

 .x6-widget-stencil-content {
	margin-top: -6px;
	top: 38px !important;
} 

/*Stencill 아이콘 순서대로 head(close)/head(open)/title(close)/title(open)*/
.x6-widget-stencil.collapsable.collapsed > .x6-widget-stencil-title::before{
	background-image: url('../../../sas/icon/double-arrow(down).png')!important;
	background-size: 60%;
	background-position: center;
	opacity: 1;
}
.x6-widget-stencil.collapsable > .x6-widget-stencil-title::before{
	background-image: url('../../../sas/icon/double-arrow(up).png')!important;
	background-size: 60%;
	background-position: center;
	opacity: 1;
}
.x6-widget-stencil-group.collapsable.collapsed>.x6-widget-stencil-group-title::before
	{
	background-image: url('../../../sas/icon/antV/arrow(down).png')!important;
	background-size: 60%;
	background-position: center;
	opacity: 1;
}
.x6-widget-stencil-group.collapsable>.x6-widget-stencil-group-title::before
	{
	background-image: url('../../../sas/icon/antV/arrow(up).png')!important;
	opacity: 0.4;
	background-size: 60%;
	background-position: center;
	transition: all 0.3s;
}


.slider-value {
	display: inline-block;
	margin-left: 8px;
	padding: 3px 7px;
	color: #333;
	font-size: 12px;
	line-height: 1.25;
	background: #eee;
	border-radius: 10px;
}
/*toolbar+container 레이아웃*/
.mainAirDiv {
    display: flex;
    flex-direction: column;
    height: 77vh; 
    width: 100%
}

/*툴바 관련 --> 기존것을 그대로 쓰면 정렬이 흐트러 져서 th,td,btn도 함께 수정*/
#toolbar {
    height: 35px; 
    /* background-color: #d3daed;  */
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    border-right:  1px solid #ddd;
}
/* #toolbar th,#toolbar th{
	min-width: 90px;
} */
#toolbar div{
	padding: 3px 5px 5px 5px;
}
/*composition과는 다르게 toolbar추가로인한 container에 css 추가*/
#container {
    flex-grow: 1; /* 나머지 공간을 차지하게 설정 */
    background-color: #e2e2e2; 
    width:100%;
    border: 0px solid #ddd !important;

}
#graph-container{
border: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
}
#stencil{
	border-right: 0px solid #dfe3e8 !important;
	border-bottom: 1px solid #ddd;
}

.btn-toolbar{
	padding: 0px !important;
}

.switch-container {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 18px;
}
.switch-input {
    display: none;
}
.switch-label {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.switch-ball {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.switch-input:checked + .switch-label {
    background-color: #4caf50; /* 머티리얼 디자인의 녹색 */
}

.switch-input:checked + .switch-label .switch-ball {
    transform: translateX(25px);
}
/* 툴바 상세보기 관련 */
#dataDetail {
    height: 436px; 
    background-color: white; 
    border-top:  1px solid #ddd;
    border-right:  1px solid #ddd;
    position:absolute;
    z-index: 9;
    top : 177px;
    border-bottom: 1px solid #ddd; 
    /* width: calc(100% -310px); */
    display: none;
/*     opacity: 0;
    transition:opacity 0.5s ease; */
}


</style>