<section id="main-content" class="animated fadeIn">
	<div class="panel panel-default">
	</div>
	<div class="panel-body">
		<div id="search_box" class="dashwidget table">
			<table style="width: 100%">
				<tbody>
					<tr>
						<th style="width: 45.5%"></th>
						<td>
							<div style="font-weight: bold; font-size: 19px">
								보안관제 대시보드
							</div>
						</td>
						<!-- 주기 셀렉트박스 -->
						<td class="fr">
							<button id="refreshButton" ng-click="refreshWidget()" class="btn btn-sm btn-bu fr wd120" style="max-height: 35px" >새로고침</button> 
						</td>
						<td class="fr">
							<button ng-click="addWidget()"
								class="btn btn-sm btn-bu fr wd120 mrgR10"
								style="max-height: 35px" id="add_widget_btn">위젯추가 {{isVisible}}</button>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
		<div style="display: flex">
			<div id="widgetDiv" class="widgetDiv" style="border:none !important"></div>
		</div>
		<div class="context-menu" id="context-menu" ng-show="isVisible">
			<ul class="widget_context_ul">
				<li ng-click="removeWidget()"><img
					ng-src="../s/css/img/widget_delete.png" />
					<div>위젯 삭제</div></li>
				<li ng-click="updateWidget()"><img
					ng-src="../s/css/img/widget_config.png" />
					<div>위젯 수정</div></li>
			</ul>
		</div>
		<div id="widgetModal" class="panel panel-success reveal-modal">
			<div class="panel-heading">
				<h3 class="pop-title">위젯관리</h3>
			</div>
			<div class="panel-body" id="modalBody">
				<div id="div" class="box_bul">
					<table class="table_bor">
						<colgroup>
							<col width="15%" />
							<col width="85%" />
						</colgroup>
						<tbody>
							<tr>
								<th>위젯제목</th>
								<td><input type="text" id="widgetTitle"
									class="form-control input-sm wd440 left top10_show" /></td>
							</tr>
							<tr>
								<th>위젯종류</th>
								<td><select id="widgetType" class="wd440"></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer" style="background-color: #fff">
				<button type="submit" ng-click="save_btn()"
					class="btn btn-primary wd90">
					<i class="fa fa-check"></i>&nbsp;저장
				</button>
				<button type="submit" ng-click="close_btn()"
					class="btn btn-gr fr wd90">
					<i class="fa fa-times"></i>&nbsp;취소
				</button>
			</div>
		</div>
	</div>
</section>
<style>
.context-menu {
	display: none;
	position: absolute;
	background-color: white;
	/* border: 1px solid #ccc; */
	z-index: 1000;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.context-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.context-menu li {
	padding: 8px 12px;
	cursor: pointer;
}

.context-menu li:hover {
	background-color: #eef1f6;
	border-radius: 7px;
}

#add_widget_btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 12px;
	height: 26px;
	font-size: 14px;
	color: #444;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	cursor: pointer;
	width: calc(100% - 10px);
}

#refreshButton {
	top: 5px; padding : 0 12px;
	height: 20px;
	font-size: 14px;
	color: gray;
	cursor: pointer;
	padding: 0 12px;
}

</style>
