<section id="main-content" class="animate__animated animate__fadeIn">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<i class="fas fa-user-cog mR5"></i> 사용자 관리
			</h3>
		</div>
		<div class="panel-body">
			<div id="data_list">
				<form id="uploadForm" name="uploadForm" method="post" enctype="multipart/form-data">
					<div style="height: 30px;">
						<input type="text" style="outline: none;background: none !important;" class="uploardform" placeholder="일괄 등록할 파일을 선택해 주세요" > 
						<label>
							<span class="btn btn-sm btn-primary" style="width: 35px; margin-left: -5px;"> <i
									class="glyphicon glyphicon-folder-open"></i><input type="file" name="upfile_bak"
									id="upfile_bak" ng-files="getTheFiles($files)" style="display: none;"
									accept=".xlsx" />
							</span>
						</label>
						<button ng-click="userExcelUpload()" class="btn btn-sm btn-primary width120">
							<i class="glyphicon glyphicon-open"></i> 일괄 등록
						</button>
						<button ng-click="user_csv_sample_download()" class="btn btn-sm btn-primary width120">
							<i class="glyphicon glyphicon-save"></i>양식 다운로드
						</button>
						<button ng-click="user_excel_download()" class="btn btn-sm btn-primary width120">
							<i class="glyphicon glyphicon-save"></i> 엑셀 다운로드
						</button>

						<button ng-click="pop_new()" class="btn btn-sm btn-primary floatR mL5  width90">
							<i class="fa fa-plus"></i> 등록
						</button>
					</div>
				</form>


				<div class="above_table">
					<table style="width: 100%;">
						<caption></caption>
						<colgroup>
							<col width="90" />
							<col width="400" />
							<col />
						</colgroup>
						<tbody>
							<tr>
								<td><select class="form-control width110" id="field_filter">
										<option value="USER_ID">사용자 ID</option>
										<option value="USER_NM">사용자 명</option>
									</select></td>
								<td><input type="text" id="text_filter" class="form-control mL5"></td>
								<td>
								
								<td style="display: flex; justify-content: flex-end;">
								<div style="order: 2;">
									<button id="search_btn" class="btn btn-sm btn-primary mL5 width120">
											<i class="glyphicon glyphicon-search"></i> 검색
										</button>
										<button id="search_reset" class="btn btn-sm btn-primary width120">
											<i class="glyphicon glyphicon-repeat"></i> 초기화
										</button>
								</div>
							</td>
								
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<table id="board_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>번호</th>
							<th>사용자 ID</th>
							<th>사용자 명</th>
							<th>권한</th>
							<th>전화번호</th>
							<th>생성일</th>
						</tr>
					</thead>
				</table>
			</div>

			<div id="data_edit" class="animate__animated animate__fadeIn" style="display: none;">
				<form class="form-horizontal ng-pristine ng-valid" role="form">
					<!--<input type="hidden" id="re_p" name="re_p"/>-->
					<div class="width100p">
						<table class="table-th table table-bordered textCenter">
							<caption></caption>
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<input type="hidden" id="passwd" name="passwd">
								<input type="hidden" id="_id" name="_id">
								<input type="hidden" id="USER_DIRECTOR">
								<tr class="tb_l">
									<th>사용자 ID <span class="necessary">*</span></th>
									<td class="textLeft"><input class="form-control"
											style="display: inline-block; width: 75%" id="USER_ID"
											placeholder="영문, 숫자만 입력 가능합니다. 최소 5글자 최대 12글자" trim="1" noKor="1"
											noSpace="1" noChar="1" maxlength="12" lowerCase="1" autocomplete="off">
										<button ng-click="id_check()" id="id_check" class="btn btn-sm btn-primary width1000">
											<i class="fa fa-id-card" /> 중복확인
										</button>
									</td>
								</tr>

								<tr class="password nBig_mode">
									<th>패스워드 <span class="necessary">*</span></th>
									<td><input type="password" class="form-control" id="USER_PW"
											placeholder="영문+숫자+특수문자 포함 최소 8글자" maxlength="20" autocomplete="off"> <input
											type="hidden" class="form-control" id="USER_PW_HIDDEN"></td>
								</tr>
								<tr class="password nBig_mode">
									<th>패스워드 확인 <span class="necessary">*</span></th>
									<td><input type="password" class="form-control" id="USER_PW_OK" autocomplete="off">
									</td>
								</tr>

								<tr>
									<th>사용자명 <span class="necessary">*</span></th>
									<td><input class="form-control" id="USER_NM" maxlength="10" trim="1" noChar="1"
											noSpace="1"></td>
								</tr>
								<tr">
									<th>휴대폰번호 <span class="necessary">*</span></th>
									<td class="textLeft"><input class="form-control" id="USER_TEL1" maxlength="3"
											style="width: 50px; display: inline;" numberOnly="1">
										- <input class="form-control" id="USER_TEL2" maxlength="4"
											style="width: 50px; display: inline;" numberOnly="1">
										- <input class="form-control" id="USER_TEL3" maxlength="4"
											style="width: 50px; display: inline;" numberOnly="1">
										<input type="hidden" id="USER_TEL">
									</td>
								</tr>
								<tr>
									<th>권한</th>
									<td class="textLeft">
										<div class="custom-checkbox-wrapper" style="margin-left: -10px;">
											<div class="custom-checkbox">
										  		<input type="checkbox" id="IS_AIR_USE">
										  		<label for="IS_AIR_USE">AIR 기능 사용</label>
											</div>
											<div class="custom-checkbox">
										  		<input type="checkbox" id="IS_QUERY_USE">
										  		<label for="IS_QUERY_USE">QUERY 기능 여부</label>
											</div>
											<div class="custom-checkbox">
										  		<input type="checkbox" id="IS_ETC_USE">
										  		<label for="IS_ETC_USE">기타 기능 사용</label>
											</div>
<!-- 											<div class="checkbox3 checkbox-inline checkbox-check checkbox-light">
												<input type="checkbox" id="IS_AIR_USE"> <label for="IS_AIR_USE"></label>
											</div>
											<label for="IS_AIR_USE" class="control-label"
												style="cursor: pointer;">&nbsp;AIR 사용 여부</label>
												
											<div class="checkbox3 checkbox-inline checkbox-check checkbox-light">
												<input type="checkbox" id="IS_QUERY_USE"> <label
													for="IS_QUERY_USE"></label>
											</div>
											<label for="IS_QUERY_USE" class="control-label"
												style="cursor: pointer">&nbsp;QUERY 사용 여부</label>
												
											<div class="checkbox3 checkbox-inline checkbox-check checkbox-light">
												<input type="checkbox" id="IS_ETC_USE"> <label
													for="IS_ETC_USE"></label>
											</div>
											<label for="IS_ETC_USE" class="control-label"
												style="cursor: pointer">&nbsp;기타 사용여부</label> -->
										</div>
									</td>
								</tr>
								<tr>
									<th>사용여부</th>
									<td class="textLeft">
										<div style="margin-left: -10px;">
											<div class="custom-checkbox">
												<input type="checkbox" id="IS_USE"> <label for="IS_USE"></label>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="mT20"></div>


					<div class="floatL">
						<button type="submit" ng-click="pop_delete()" id="btn_delete" class="btn btn-primary width120 fwb">
							<i class="fa fa-trash" />삭제
						</button>
					</div>
					<div class="floatR">
						<button type="submit" ng-click="pop_save()" class="btn btn-primary width120 fwb">
							<i class="fa fa-check" />저장
						</button>
						<button type="submit" ng-click="pop_close()" class="btn btn-primary width120 fwb">
							<i class="fa fa-times" />닫기
						</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</section>
<style>
div.dataTables_scrollBody {
  overflow-x: hidden !important;
}
/* 페이징 가운데로 옮기기  */
.dt-toolbar-footer {
  text-align: center !important;
}
#board_table_paginate {
  text-align: center !important;
  float: none !important;
  display: block !important;
}

@keyframes popHeart {
  0%   { transform: translateX(-50%) scale(0.6); opacity: 1; }
  50%  { transform: translateX(-50%) scale(1.5); opacity: 0.8; }
  100% { transform: translateX(-50%) scale(2); opacity: 0; }
}
</style>